* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16x;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 247, 247);
    width: 100vw;
    height: 100vh;
    border: 5px solid rgb(0, 0, 0);
    padding: 40px;
    margin: 40px;
}

img{
    height: 400px;
    width: 400px;
}

.character-img {
    background-color: rgb(252, 247, 247);
    width: 40vw;
    height: 40vh;
    border: 5px solid rgb(0, 0, 0);
    padding: 40px;
    margin: 20px;
    /* display: flex;
    flex-direction: row; */
    margin-left: auto;
}

.flex-child-3 {
    background-color: rgb(252, 247, 247);
    width: 40vw;
    height: 40vh;
    border: 5px solid rgb(0, 0, 0);
    padding: 40px;
    margin: 20px;
    /* display: flex;
    flex-direction: row;
    align-items: flex-end; */
    margin-left: auto;
}